@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1A2426;
    font-family:  "Iceland", sans-serif;
    color:#CAE0E4;
}

.logo img{
    width: 200px;
    height: auto;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.welcome p{
    font-size: 180px;
    margin: 0px;
}
.welcome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px 0px 50px;
    text-align: center;
    line-height: 130px;
    opacity: 0.8;
}
.social img{
    width: 35px;
    height: auto;
    border-radius: 50%;
}
.info-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
    padding-top: 30px;
}

.info-ai{
    font-size: 25px;
    width: 250px;
    height: auto;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
}

.info-dev{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social-name a{
    margin: 0px;
    text-decoration: none;
    color: #CAE0E4;
}
.info-dev p,a{
    font-size: 25px;
    margin: 0px;
    font-family: "Montserrat";
    font-weight: 600;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    
    height: auto;
    width: auto;
}

input{
    background-color: transparent;
    outline: none;
    font-size: 20px;
    color: #CAE0E4;
    width: 600px;
    padding: 15px 30px 15px 30px;
    border: 2px solid #437E87;
    border-radius: 50px;
}
input::placeholder{
    color: #CAE0E4;
    font-family: "Montserrat" ;
}

.input img{
    height:40px;
    width: 40px;
    padding: 10px;
    background-color: #488690;
    border-radius: 50%;
}