@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1A2426;
    font-family:  "Iceland", sans-serif;
    color:#CAE0E4;
}

.logo img{
    width: 14.65vw;
    height: auto;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.welcome p{
    font-size: 9.8vw;
    margin: 0px;
}
.welcome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px 0px 50px;
    text-align: center;
    line-height: 7vw;
    opacity: 0.8;
}
.social img{
    width: 3.34vw;
    height: auto;
    border-radius: 50%;
}
.info-content{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 35.04vw;
    padding-top: 30px;
}

.info-ai{
    font-size: 20px;
    width: 18.23vw;
    height: auto;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    margin-right: 20px;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
    height: auto;
    width: auto;
}

input{
    background-color: transparent;
    outline: none;
    font-size: 20px;
    color: #CAE0E4;
    width: 600px;
    padding: 15px 30px 15px 30px;
    border: 2px solid #437E87;
    background-color: #2B3A3D;
    border-radius: 50px;
}
input::placeholder{
    color: #CAE0E4;
    font-family: "Montserrat" ;
}

.input img{
    height:30px;
    width: 30px;
    padding: 10px;
    background-color: #488690;
    border-radius: 50%;
    outline: none;
    border: none;
}
button{
    background-color: transparent;
    border: none;
}
@media (max-width: 848px) {
    .logo img{
    width: 22.62vw;
    height: auto;
    }
    .welcome p{
    font-size: 20.3619vw;
    margin: 0px;
}
    .welcome{
        line-height: 14.706vw;
    }
    .social img{
        width: 5.09vw;
    }
    .info-content{
        gap: 50.04vw;
    }
    .info-ai{
        width: 35.23vw;
    }
}


@media (max-width: 429px) {
    .logo img{
    width: 46.62vw;
    height: auto;
    }
     .welcome p{
    font-size: 25.9580vw;
    margin: 0px;
}
    .welcome{
        line-height: 25.303vw;
    }
    .social img{
        width: 10.49vw;
    }
    .info-content{
        gap: 40.04vw;
        margin-top: 30px;
    }
    .info-ai{
        width: 45.23vw;
    }
    .input{
    margin-top: 50px;
}
}